*{
    margin: 0px;
    padding: 0px;
}
h1{
    text-align: center;
    font-size: 60px;
}
section{
 background-color: darksalmon; 
 min-height: 100%; 
}
.container{
    
    animation-fill-mode: forwards;
}